body {
    background-color:#343a39;
}
.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    justify-content: center;
}
.trackItem {
    color:#ffc107;
    font-size: 20px;
    border-bottom: 1px solid #453a15;
    padding: 10px 0px;
    cursor: pointer;
    -webkit-user-select: none;
}
.playListContainer {
    margin-bottom: 20px;
}
.musicPlayer {
    display:flex;
    flex-direction: row;
}
.currentAndTotleTime {
    color:#fff;
}
/* id*/ 
#progressBar {
    width:500px;
    height:7px;
    background-color:#6c757d;
    border-radius: 5px;
}
#currentProgress {
    width:0px;
    height:100%;
    background-color: #dc3545;
    border-radius: 5px;
}
.controls {
    font-size: 30px;
    color:#fff;
    margin:20px 40px;
    cursor:pointer;
    -webkit-user-select: none;
}
.pauseButton {
    display:none;
}